body {
  background: #111;
  color: white;
  font-family: sans-serif;
  margin: 0;
  padding: 20px;
  text-align: center;
}

.container {
  max-width: 600px;
  margin: auto;
}

h1 {
  margin-bottom: 10px;
}

img {
  width: 100%;
  height: auto;
  border-radius: 16px;
  margin-bottom: 20px;
}

/* Плеєр на всю ширину */
audio {
  width: 100%;
}
